<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png" />

    <script src="https://kit.fontawesome.com/43c6e9dfc7.js" crossorigin="anonymous"></script>

    <title>Idealisté.cz - svoboda, spravedlnost, solidarita</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
