@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: 'Raleway', sans-serif;
    background: azure;
}

.gradient-text {
    background: -webkit-linear-gradient(#bd243a, #7C4B8E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#start-screen {
    overflow-x: hidden;
}

#navbar {
    background: linear-gradient(-90deg, #bd243a, #7C4B8E);
}

.hnuti-gradient {
    background: linear-gradient(120deg, #29D9C2, #FE6E61);
}

.spolek-gradient {
    background: linear-gradient(-90deg, #bd243a, #7C4B8E);
}

.home-button {
    transition: 0.5s all;
}

.home-button:hover {
    padding: 1.3rem;
    background: rgba(255, 255, 255, 0.1);
}

.squish-right {
    animation: right-animate 0.45s linear;
}

.container-fluid {
    background-image: linear-gradient(to right, rgba(180,75,107,0.2) , rgba(123,75,143,0.3)), url("/assets/imaegs/plenum.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
}

@keyframes right-animate {
    0% { transform: translateX(50%) }
    100% { transform: translateX(100%) }
}
